Flask
Flask-Cors
flask-apispec
gunicorn
gevent
raven[flask]
structlog
python-json-logger
webargs
werkzeug
celery[redis]
# Celery is not compatible with redis 3, but we need to restrict the redis
# version manually. See https://github.com/celery/celery/issues/5178
redis<3.0.0
flower
cobra
# Memote 0.8.7 has a dependency issue with equilibrator-api, and tests don't run.
# Keep this pin until the issue has been sorted out.
memote==0.8.6
